<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <form class="form-inline my-2 chat" (submit)="onNewChatSubmit()">
                    <input type="text" name="newChatRoom" [(ngModel)]="newChatRoom" class="form-control newRoom mx-2" placeholder="new room" />
                    <button class="btn btn-outline-success my-2 menu" type="submit" [disabled]="isNewChatInvalid()"><i class="material-icons">add</i></button>
                </form>
            </li>
            <li *ngFor="let room of chatrooms">
                <a (click)="loadChatRoom(room._id)" class="pointer">{{ room.name }}</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="menu">
                <a href="#menu-toggle" class="btn btn-outline-secondary menu" id="menu-toggle"><i class="material-icons">menu</i></a>
            </div>
            <app-chatrooms *ngIf="currentRoom; else default" [currentRoom]="currentRoom" [username]="username"></app-chatrooms>
            <ng-template #default>
                <div id="default-content">
                    <div class="card long p-3 shadow">
                        <h5 class="default-middle">Select or Create Room to Chat</h5>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
  
  </div>
  <!-- /#wrapper -->